@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Caveat', cursive;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;

}

html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--bg);
}
section{
    padding: 2rem 7%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .7rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;
}



.header{
    background: linear-gradient(to bottom,var(--bg),transparent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 10000;
}
.logo img{
    height: 6rem;
}
.navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.icons div:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none;
}
.search-form{
    position: absolute;
    top: 115%;right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.search-form.active{
    transform: scaleY(1);
    right: 7%
}
.search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.search-form label:hover{
    color: var(--main-color);
}
.cart-items-container{
    position: absolute;
    top: 100%; right: -100%;
    height: 100vh;
    width: 25rem;
    background: #fff;
    padding: 0 1.5rem;
}
.active{
    right: 0;
}
.cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.cart-item img{
    width: 7rem;
}
.cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}
.cart-item .fa-times:hover{
    color: var(--main-color);
}
.home .content h3{
    font-size: 5rem;
}
.home .content p {
    font-size: 2rem;
}
.cart-item .content h3{
    font-size: 2rem;
    color: #010103;
}
.content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}
.price{
    font-size: 1.5rem;
    color: var(--main-color);
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:  no-repeat;
    background-image: linear-gradient(to bottom ,rgb(0, 0, 0),
    rgba(255, 255, 255, 0)), url(../images/coffee.jpg);
    background-size: cover;
    background-position: center;
}
.content{
    max-width: 60rem;
}
.content h3{
    font-size: 3rem;
    
    color: #fff;
}
.content p{
    font-size: 1.rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

}
.heading span{
    color:#d3ad7f;
}
.row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}
.image{
    flex: 1 1 45rem;
}
.image img{
    width: 100%;
}
.row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.row .content h3{
    font-size: 3rem;
    color: #fff;
}

.box img{
    margin: 20px;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;

}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}
.menu .box-container .box .price span{
    font-size: 1.8rem;
    color: rgba(255, 0, 0, 0.475);
    text-decoration: line-through;
}
.menu .box-container .box:hover{
    background: #fff;
}
.menu .box-container .box:hover > *{
    color: var(--black);
}
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.products .box-container .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: 1rem;
}
.products .box-container .icons a:hover{
    background: var(--main-color);
}
.products .box-container .box .image{
     padding: 2.5rem 0;
}
.products .box-container .box .image img{
    border-radius: 0%;
    width: 20rem;
    height: 30rem;
}
.products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.products .box-container .box .content  .price {
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .price span{
    font-size: 1.8rem;
    text-decoration: line-through;
    color: rgba(255, 0, 0, 0.475);
}
.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 4rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 4rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.blogs .box-container .box{
    border: var(--border);
}
.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}
.blogs .box-container .box .image img{
    border-radius: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    padding: 2rem;
}
.title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}
.title:hover{
    color: var(--main-color);
}
.blogs .box-container .box .content span{ 
      color: var(--main-color);
      display: block;
      padding-top: 1rem;
      font-size: 2rem;
}
.blogs .box-container .box .content p{ 
    color: #ccc;
    display: block;
    line-height: 1.8;
    padding: 1rem;
    font-size: 1.6rem;
}
footer{
    background: var(--black);
    text-align: center;
}
footer .share{
    padding: 1rem 0;
}
footer .share a{
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    line-height: 5rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
}
footer .share a:hover{
    background: var(--main-color);
}
footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
footer .links a {
    padding: 1rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}
footer .links a:hover{
    color: var(--main-color);
}
.credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.credit span{
    color: var(--main-color);
    
}


























/* responsive */
@media(max-width:991px){
    html{
        font-size: 80%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .navbar{
        position: absolute;
        top: 100%;right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .active{
        right: 0;
    }
    
    .search-form{
    width: 90%;
    right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .content h3{
        font-size: 4.5rem;
    }
    .content p{
        font-size: 1.5rem;
    }
}
@media(max-width:450px){
    html{
        font-size: 70%;
    }
}
@media(max-width:390px){
    html{
        font-size: 50%;
    }
}